.extra-menu {
  position: absolute;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 5px;
  z-index: 9000;
  right: 14px;
  top: 45px;
  /* background: rgb(234 234 234);
   */
  background: white;
}

.extra-menu__item {
  padding: 5px;
  cursor: pointer;
}

.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  
  border-bottom: 5px solid grey;
  position: absolute;
  right: 12px;
  top: -6px;
}

.hide {
  display: none;
}