@import './resset.css';
@import './checkbox.css';
@import './extra-post-menu.css';

body {
  background: linear-gradient(to right, rgb(253 0 0 / 20%), rgb(230 82 49 / 82%));
}

.app {
  display: flex;
  flex-direction: column;
  margin: 20px auto 0;
  width: 300px;
  height: 500px;
  border: 1px solid gray;
  border-radius: 10px;
  /* padding: 20px; */
  background-color: white;
  position: relative;
}

.app-extra-menu {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .5);
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 40px 40px 20px;
  background: linear-gradient(to right, white 50%, #8080802e 50%);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}


.header__all-tasks {
  width: 50%;
}

.header__done-tasks {
  width: 50%;
  text-align: right;
}

.header i {
  font-size: 30px;
}

.header__line-between {
  width: 1px;
  height: 90px;
  background-color: grey;
  position: absolute;
  top: 0;
  right: 150px;
}

.header__line-bottom {
  width: 150px;
  height: 1px;
  background: grey;
  position: absolute;
  top: 90px;
  right: 0;
}

.add-task-btn {
  width: 50px;
  height: 50px;
  border: 1px solid grey;
  border-radius: 50%;
  position: absolute;
  bottom: -25px;
  right: 130px;
  background-color: gainsboro;
  z-index: 2;

  background:
    linear-gradient(#fff, #fff),
    linear-gradient(#fff, #fff),
    #ffba65;
  background-position: center;
  background-size: 50% 2px, 2px 50%;
  /*thickness = 2px, length = 50% (25px)*/
  background-repeat: no-repeat;
}

.tasks-list {
  padding: 10px;
  overflow-y: auto;
  height: 365px;
}

.tasks-list__item {
  padding: 15px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.tasks-list__item .delition {
  animation: opacity 1s ease-in-out;
}

.tasks-list__item label {
  cursor: pointer;
}

.tasks-list__item i {
  padding: 0 10px 0 0;
  width: 15px;
  cursor: pointer;
}

.checked {
  text-decoration: line-through;
  color: grey;
  /* opacity: 0.5; */
}

.task-input {
  /* display: none; */
  position: absolute;
  bottom: 35px;
  left: 25px;
  font-size: 20px;
}

.task-input-block {
  display: block;
}

/*//////////////////*/
#cover-div {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 900;
  width: 100%;
  height: 100%;
  background-color: gray;
  opacity: 0.3;
}

#cover-div2 {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 902;
  width: 100%;
  height: 100%;
  background-color: gray;
  opacity: 0.3;
}

.pinboard {
  border-block-end: 1px solid;
  padding: 5px;
}

.hide {
  display: none;
}

.fixed {
  display: block;
}

.thumbtack {
  display: flex;
  align-items: center;
}

.calendar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  font-size: 25px;
  background-color: rgb(255, 237, 138);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

@keyframes opacity {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.memo {
  position: absolute;
  top: 50%;
  left: 20px;
  z-index: 3333;
}

.memo input {
  padding: 5px;
  font-size: 20px;
  width: 250px;
  border-radius: 5px;
}